@{
    ViewData["Title"] = "О нас";
}
<div class="about-page">
    <h2 style="color: rgb(35, 31, 92);">Yankee bar & grill</h2>

    <p>Ищете место, где можно расслабиться в приятной атмосфере после тяжелой трудовой недели?</p>
    <p>Хотите отпраздновать мероприятие на высшем уровне, что бы гости остались довольны кухней и обслуживанием?</p>
    <p>Вас ждут: - пиво, сваренное по особой чешской технологии (Moravsky Hospodar)</p>
    <p>- американская и мексиканская кухни, гриль меню</p>
    <p>- интересные и выгодные акции</p>
    <p>- каждые выходные одна из лучших развлекательных программ нашего города и живая музыка</p>
    <p>Забронировав столики в Yankee бар на нашем сайте, вы можете быть уверены, что запланированный отдых пройдет на самом высоком уровне!</p>

    <div class="aboutImg"></div>
</div>