@{
    ViewData["Title"] = "Контакты";
}

<h2 style="color: rgb(35, 31, 92);">Yankee bar &amp; grill</h2>
<address>
    Россия, Ульяновск, Московское шоссе, 108<br />
    ТЦ Аквамолл <br />
    <a href="tel:+78422725500">+7 (8422) 725-500</a>
</address>
